{% extends 'base.html.twig' %}

{% block title %}
	Connexion
{% endblock %}

{% block body %}
	<section class="bg-secondary p-2  bg-opacity-50">
		<div class="container container-fluid">
			<div class="row justify-content-evenly">
				<div class="col-lg-8">
					<form method="post">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}
						{% if app.user %}
							<div class="mb-3">
								You are logged in as
								{{ app.user.username }},
								<a href="{{ path('app_logout') }}">Logout</a>
							</div>
						{% endif %}
						<h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
						<label for="inputPseudo">Votre identifiant :</label>
						<input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" autocomplete="username" required autofocus>
						<br/>
						<label for="inputPassword">Votre mot de passe :</label>
						<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<br/>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-3 col-12">
						<button class="btn btn-lg btn-primary" type="submit">
							Connexion
						</button>
					</div>
				</form>
				<div
					class="col-lg-5 col-12">
					<!--
																														<button class="btn btn-lg btn-primary">
																															Identifiant oublié ?
																														</button>
																														-->
					<a href="{{ path('app_forgot_password') }}" class="btn btn-lg btn-primary">
						Mot de passe oublié ?
					</a>
				</div>
			</div>
		</div>
	</div>
</section>{% endblock %}
