{% for comment in listComment %}
	<div class="row p-3 mb-2 bg-white text-dark rounded-pill">
		<div class="col-lg-1 col-12">
			<img class="border border-2 rounded-circle" src="{{ asset(comment.user.avatar.url)}}" alt="{{ comment.user.pseudo }}" title="{{ comment.user.pseudo }}" width="40px">
		</div>
		<div class="col-lg-11 col-12">
			Par
			{{ comment.user.pseudo }}, le
			{{ comment.createdAt|date('d/m/Y')}}<br/>
			{% if comment.disabled %}
				<p class="text-danger">Commentaire interdit par l'administrateur</p>
			{% else %}
				<p class="text-primary">{{ comment.content }}</p>
			{% endif %}

		</div>
	</div>
{% endfor %}
