{% extends 'base.html.twig' %}

{% block title %}
	Gestion des commentaires
{% endblock %}

{% block body %}
	<section class="bg-secondary p-2 text-dark bg-opacity-50">
		<div class="container container-fluid">
			<div class="row justify-content-evenly">
				<div class="col-lg-8">
					<div class="table-responsive text-center">
						<h3>Liste des commentaires du site</h3>
						<table class="table table-striped table-condensed table-responsive table-bordered">
							<thead>
								<tr class="text-center">
									<th>Pseudo</th>
									<th>
										<i class="fa-solid fa-person-snowboarding"></th>
									</th>
									<th>
										<i class="fa-solid fa-comments"></i>
									</th>
									<th>Actions</th>
								</tr>
							</thead>
							{% for comment in comments %}
								<tr class="text-center">
									<td>
										<div class="tablehead"></div>
										{% if comment.user.avatar %}
											<img src="{{ asset(comment.user.avatar.url) }}" class="rounded-circle" height="40px"/>
										{% else %}
											<img src="{{ asset('medias/avatars/manProfil.jpg') }}" class="rounded-circle" width="40px" height="40px"/>
										{% endif %}
										{{ comment.user.pseudo }}
									</td>
									<td>
										<div class="tablehead">
											Trick :
										</div>
										{{ comment.trick.title }}
									</td>
									<td>
										<div class="tablehead">
											Commentaire :
										</div>
										{{ comment.disabled }}&nbsp;
										{% if comment.disabled %}
											<p class="text-danger">
											{% else %}
												<p class="text-success">
												{% endif %}
												{{ comment.content }}
											</p>
										</td>
									</td>
									<td class="text-center">
										<button class="btn btn-sm btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Modifier">
											<span class="userinfo" data-toggle="modal" data-bs-target="#exampleModal" data-button="Enregistrer" data-id="{{ comment.id }}" data-affiche="yes" data-route="{{ path('app_managing_comment', { id: comment.id }) }}" data-title="Modification d'un commentaire">
												<i class="fa-solid fa-pen text-light"></i>
											</span>
										</button>
										<button class="btn btn-sm btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Interdire">
											<span class="userinfo" data-toggle="modal" data-bs-target="#exampleModal" data-button="Enregistrer" data-id="{{ comment.id }}" data-affiche="yes" data-route="{{ path('app_managing_ban_comment', { id: comment.id }) }}" data-title="Interdiction d'un commentaire">
												<i class="fa-solid fa-ban text-danger"></i>
											</span>
										</button>
										<button class="btn btn-sm btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Supprimer">
											<span class="userinfo" data-toggle="modal" data-bs-target="#exampleModal" data-button="Supprimer" data-id="{{ comment.id }}" data-affiche="yes" data-route="{{ path('app_managing_delete_comment', { id: comment.id }) }}" data-title="Supprimer un commentaire">
												<i class="fa-solid fa-trash-can text-danger"></i>
											</span>
										</button>
									</td>
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('modal') }}
{% endblock %}
