<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('medias/Snowboarding_pictogram.ico') }}">
		<script src="https://kit.fontawesome.com/0b80b0b83d.js" crossorigin="anonymous"></script>
		{{ encore_entry_link_tags('app') }}
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		<header class="header">
			<nav class="navbar navbar-expand-lg bg-secondary text-uppercase" id="mainNav">
				<div class="container text-white">
					<a class="navbar-brand text-white" href="#page-top">
						<img src="{{ asset('medias/Snowboarding_pictogram.svg') }}" alt="Snowtricks" width="50px"/>
					</a>
					<h1>Sowtricks</h1>
					<button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
						Menu
						<i class="fas fa-bars"></i>
					</button>
					<div class="collapse navbar-collapse" id="navbarResponsive">
						<ul class="navbar-nav ms-auto">
							<li class="nav-item mx-0 mx-lg-1">
								<a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ path('trick_home') }}">Accueil</a>
							</li>
							<li class="nav-item mx-0 mx-lg-1">
								<a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ path('trick_home') }}#tricks">Figures</a>
							</li>
							{% if app.user %}
								<li class="nav-item mx-0 mx-lg-1">
									<div class="mb-3">
										<a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ path('app_logout') }}">Se déconnecter</a>
									</div>
								</li>
							{% else %}
								<li class="nav-item mx-0 mx-lg-1">
									<a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ path('app_login') }}">Se connecter</a>
								</li>
								<li class="nav-item mx-0 mx-lg-1">
									<a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ path('app_register') }}">S'enregistrer</a>
								</li>
							{% endif %}
							{% if app.user %}
								<li>
									<a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ path('app_user') }}">
										{% if app.user.avatar %}
											<img src="{{ asset(app.user.avatar.url) }}" class="rounded-circle" height="40px"/>
										{% else %}
											<img src="{{ asset('medias/avatars/manProfil.jpg') }}" class="rounded-circle" width="40px" height="40px"/>
										{% endif %}
									</a>
								</li>
								{% if 'ROLE_ADMIN' in app.user.roles %}
									<li>
										<a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ path('admin_home') }}">
											<h2>
												<i class="fa-solid fa-gear"></i>
											</h2>
										</a>
									</li>
								{% endif %}
							{% endif %}
						</ul>
					</div>
				</div>
			</nav>
		</header>

		{% for flash_error in app.flashes('notice') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}
		{% for flash_error in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}
		{% for flash_error in app.flashes('success') %}
			<div class="alert alert-success" role="alert">{{ flash_error }}</div>
		{% endfor %}
		<br/>

		{% include "modal.html.twig" %}

		<div class="master_content"> {% block body %}{% endblock %}
			</div>

			<footer class="footer1">
				<div class="container">
					<span class="text-notice bg-light ">Place sticky footer content here.</span>
				</div>
			</footer>

			<footer class="footer2">
				<div class="container">
					<span class="text-notice bg-light ">Deuxième.</span>
				</div>
			</footer>

			<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}
			{% endblock %}
		</body>
	</html>
