<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('medias/Snowboarding_pictogram.ico') }}">
		<script src="https://kit.fontawesome.com/0b80b0b83d.js" crossorigin="anonymous"></script>
		{{ encore_entry_link_tags('app') }}
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		<header>
			{% include "navtop.html.twig" %}
		</header>
		<div class="master_content">
			{% for flash_error in app.flashes('notice') %}
				<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
			{% endfor %}
			{% for flash_error in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
			{% endfor %}
			{% for flash_error in app.flashes('success') %}
				<div class="alert alert-success" role="alert">{{ flash_error }}</div>
			{% endfor %}

			{% include "modal.html.twig" %}

			{% block body %}{% endblock %}
		</div>

		<footer class="footer1">
			<div class="container text-center">
				{% include "navbottom.html.twig" %}
			</div>
		</footer>

		<footer class="footer2">
			<div class="container text-center">
				<span class="text-notice text-center">SnowTrick | 2022 &copy;  Tous droits réservés</span>
			</div>
		</footer>

		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
