{% extends 'base.html.twig' %}

{% block title %}
	Bienvenu(e) sur SNOwTRICKS
{% endblock %}

{% block body %}
	<div class="hero text-center align-middle">
		<h2>Bienvenue sur le site communtaire du Snowboard</h2>
		<h3>Ouvert à tous</h3>
		<a href="#tricks" class="text-secondary down">
			<h1>
				<i class="fa-solid fa-arrow-down-long"></i>
			</h1>
		</a>
	</div>
	<div id="tricks" class="container wrapper">
		<div id="listTrick" name="listTrick" class="row justify-content-evenly">
			<hr/>
			{% if app.user %}
				<div class="card" style="width: 18rem;">
					<img src="{{ asset('medias/snow.jpg') }}" class="card-img-top" alt="Pas d'image">
					<div class="card-body">
						<h5 class="card-title"></h5>
						<p class="card-text"></p>
						<a href="{{ path('add_trick') }}" class="btn btn-primary">Ajouter un trick</a>
					</div>
				</div>
			{% endif %}
			{% include "trick/show_more_trick.html.twig" %}
		</div>
		<br/>
		<div id="trickplus" name="trickplus">
			{% if numberTrickByPage < tricksCount %}
				<div class="text-center">
					<button name="showMoreTricks" id="showMoreTricks" class="btn btn-primary" type="button" data-index="{{ numberTrickByPage }}" data-tricksbypage="{{ numberTrickByPage }}" data-nbtrick="{{ tricksCount }}" data-route="{{ path('show_more_trick' , {'index' : numberTrickByPage} ) }}">
						<i class="fa-solid fa-circle-plus"></i>Voir plus ...
					</button>
				</div>
			{% endif %}
		</div>
		<a href="#tricks" class="text-light right">
			<h1>
				<i class="fa-solid fa-arrow-up-long"></i>
			</h1>
		</a>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('modal') }}
{% endblock %}
