{% extends 'base.html.twig' %}

{% block title %}
	Bienvenu(e) sur SNOwTRICKS
{% endblock %}

{% block body %}
	<br/>
	<section class="bg-secondary p-2  bg-opacity-50">
		<div class="text-center">
			{% if add is defined %}
				<h1>Ajout d'une figure</h1>
			{% else %}
				<h1>Modification de la figure "{{ trick.title }}"</h1>
			{% endif %}
		</div>
		<div class="container container-fluid ">

			<div class="text-center">
				<button class="btn btn-info disabled">Groupe :
					{% if trick.category %}
						{{ trick.category.label }}
					{% endif %}
				</button>
				<button class="btn btn-info disabled">
					<i class="fa-solid fa-user"></i>
					Auteur :
					{% if trick.user %}
						{{ trick.user.firstName }}
						{{ trick.user.lastName }}
					{% endif %}
				</button>
				<button class="btn btn-info disabled">
					<i class="fa-solid fa-calendar-days"></i>
					Crée le
					{{ trick.createdAt|date('d/m/Y') }}
				</button>
				{% if trick.createdAt != trick.updatedAt %}
					<button class="btn btn-info disabled">
						<i class="fa-solid fa-calendar-days"></i>
						Modifié le :
						{{ trick.updatedAt|date('d/m/Y') }}
					</button>
				{% endif %}
			</div>
			<br/>

			<div class="row justify-content-evenly">
				<div class="col-lg-10">
					{{ form_start(form) }}
					{{ form_row(form.title, {
                        'label': 'Nom (*) :', 
                        'attr': {
                            'placeholder': 'Le titre',
                            'class': 'form-control'
                        }
                    }) }}
					{{ form_row(form.content, {
				    'label': 'Description (*) :', 
				    'attr': {
				        'placeholder': 'Votre texte',
				        'class': 'form-control'
				    }
		    	}) }}
					{{ form_row(form.category, {
				    'label': 'Groupe de la figure (*) :', 
				    'attr': {
				        'placeholder': 'Groupe de la figure',
				        'class': 'form-select'
				    }
		    	}) }}
					<br/>
					<button type="submit" class="btn btn-primary">Enregister</button>

					{{ form_rest(form) }}
					{{ form_end(form) }}
				</div>
			</div>
			<br/>
			{% if add is defined %}
				{% else %}
					<div class="row justify-content-evenly">
						<div class="col-lg-10">
							<div class="row text-center align-items-center">
								<div class="col-lg-2">
									<button class="btn btn-sm btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Ajouter une photographie">
										<span class="userinfo" data-toggle="modal" data-bs-target="#exampleModal" data-button="Enregistrer" data-id="{{ trick.id }}" data-affiche="yes" data-route="{{ path('add_picture_trick', { slug: trick.slug }) }}" data-title="Ajouter une photographie">
											<i class="fa-solid fa-circle-plus"></i>
											Photo ({{ pictures|length }})
										</span>
									</button>
									<br/><br/>
									<button class="btn btn-sm btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Ajouter une vidéo">
										<span class="userinfo" data-toggle="modal" data-bs-target="#exampleModal" data-button="Enregistrer" data-id="{{ trick.id }}" data-affiche="yes" data-route="{{ path('add_video_trick', { slug: trick.slug }) }}" data-title="Ajouter une vidéo">
											<i class="fa-solid fa-circle-plus"></i>
											Vidéo ({{ videos|length }})
										</span>
									</button>
								</div>
								<div class="col-lg-10">
									{% if trick.media.count is same as(0) %}
										<p>Pas de média disponible.</p>
									{% else %}
										{% if trick.media.count < 4 %}
											<div>
												{% include "trick/medias.html.twig" %}
											</div>
										{% else %}
											<div>
												{% include "trick/carousel.html.twig" %}
											</div>
										{% endif %}
									{% endif %}
								</div>
							</div>
						</div>
					</div>

					<br/>

					<div class="col-lg-10">
						<div class="row justify-content-evenly">
							<div class="col-lg-12 text-center">
								{% if trick.media.count is same as(0) %}
									<p>Pas d'image mise en avant.</p>
								{% else %}
									{% set findFeaturePicture = 0 %}
									{% for file in trick.media %}
										{% if file.featurePicture %}
											<p>Image mise en avant :
												{{ file.legend }}</p>
											<img class="" src="{{ asset(file.thumbUrl)}}" alt="{{ file.legend }}">
											{% set findFeaturePicture = 1 %}
										{% endif %}
									{% endfor %}
									{% if findFeaturePicture is same as(0)  %}
										<p>Pas d'image mise en avant choisie.</p>
									{% endif %}
								{% endif %}
							</div>
						</div>
					</div>
			{% endif %}
		</div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}{{ encore_entry_script_tags('modal') }}
{% endblock %}
