{% extends 'base.html.twig' %}

{% block title %}
	Bienvenu(e) sur SNOwTRICKS
{% endblock %}

{% block body %}
	<br/>
	<section class="bg-secondary p-2 bg-opacity-50">
		<div class="container container-fluid">
			<div class="row justify-content-evenly">
				<div class="col-lg-10">
					<div>
						<div class="contenant">
							{% if trick.media.count is same as(0) %}
								<img src="{{ asset('medias/snow.jpg') }}" class="card-img-top" alt="Pas d'image">
							{% else %}
								{% set ok = 0 %}
								{% for media in trick.media %}
									{% if media.featurePicture %}
										<img src="{{ asset(media.url) }}" class="card-img-top" alt="{{ media.legend }}">
										{% set ok = 1 %}
									{% endif %}
								{% endfor %}
								{% if ok is same as(0) %}
									<img src="{{ asset('medias/snow.jpg') }}" class="card-img-top" alt="Pas d'image">
								{% endif %}
							{% endif %}
							<div class="texte_centrer bg-secondary bg-opacity-50">
								<h1>
									{{ trick.title}}
								</h1>
								{% if app.user %}
									<a class="text-light" href="{{ path('modify_trick' , { slug: trick.slug }) }}">
										<i class="fa-solid fa-pencil"></i>
									</a>
									<a class="text-danger" href="#">
										<i class="fa-solid fa-trash-can"></i>
									</a>
								{% endif %}

							</div>
						</div>
						<br/>
						<div class="row text-center align-items-center">
							<div class="col-lg-12">
								{% if trick.media.count is same as(0) %}
									<p>Pas de média disponible.</p>
								{% else %}
									{% include "trick/carousel.html.twig" %}
								{% endif %}
							</div>
						</div>
						<div class="row p-3 mb-2 bg-white text-dark">
							{{ trick.chapo }}<br/>
						</div>
						<br/>
						<div class="row p-3 mb-2 bg-white text-dark">
							{{ trick.content }}
						</div>
						<br/>
						<div class="text-center">
							<button class="btn btn-info disabled">Catégorie :
								{{ trick.category.label }}
							</button>
							<button class="btn btn-info disabled">
								<i class="fa-solid fa-user"></i>
								Auteur :
								{{ trick.user.firstName }}
								{{ trick.user.lastName }}
							</button>
							<button class="btn btn-info disabled">
								<i class="fa-solid fa-calendar-days"></i>
								Crée le
								{{ trick.createdAt|date('d/m/Y') }}
							</button>
							{% if trick.createdAt != trick.updatedAt %}
								<button class="btn btn-info disabled">
									<i class="fa-solid fa-calendar-days"></i>
									Modifié le :
									{{ trick.updatedAt|date('d/m/Y') }}
								</button>
							{% endif %}

						</div>
						<hr>
						<div>
							{% if app.user %}
								<p>Ici le formulaire de commentaires</p>
							{% else %}
								<p>Vous devez être connecté pour pouvoir poster un commentaire.</p>
							{% endif %}
							<br/>
						</div>
						<hr>
						<div>
							{% if trick.comments.count is same as(0) %}
								<p>Pas de commentaire disponible</p>
							{% else %}
								{% include "comment/index.html.twig" %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
