{% extends 'base.html.twig' %}

{% block title %}
	Bienvenu(e) sur SNOwTRICKS
{% endblock %}

{% block body %}
	<br/>
	<section class="bg-secondary p-2 bg-opacity-50">
		<div class="container container-fluid">
			<div class="row justify-content-evenly">
				<div class="col-lg-10">
					<div>
						<div class="contenant">
							{% if trick.media.count is same as(0) %}
								<img src="{{ asset('medias/snow.jpg') }}" class="card-img-top" alt="Pas d'image">
							{% else %}
								{% set ok = 0 %}
								{% for media in trick.media %}
									{% if media.featurePicture %}
										<img src="{{ asset(media.url) }}" class="card-img-top" alt="{{ media.legend }}">
										{% set ok = 1 %}
									{% endif %}
								{% endfor %}
								{% if ok is same as(0) %}
									<img src="{{ asset('medias/snow.jpg') }}" class="card-img-top" alt="Pas d'image">
								{% endif %}
							{% endif %}
							<div class="texte_centrer bg-secondary bg-opacity-50">
								<h1>
									{{ trick.title}}
								</h1>
								{% if app.user %}
									<a class="btn text-light" href="{{ path('modify_trick' , { slug: trick.slug }) }}">
										<i class="fa-solid fa-pencil"></i>
									</a>
									{# <a class="btn userinfo text-danger" data-toggle="modal" data-bs-target="#exampleModal" data-button="Supprimer" data-id="{{ trick.id }}" data-affiche="yes" data-route="{{ path('delete_trick', { slug: trick.slug }) }}" data-title="Supprimer un trick">
																																																																																																				<i class="fa-solid fa-trash-can"></i>
																																																																																																			</a> #}
								{% endif %}
							</div>
						</div>
						<br/>
						<div class="row text-center align-items-center">
							<div class="col-lg-12">
								{% if trick.media.count is same as(0) %}
									<p>Pas de média disponible.</p>
								{% else %}
									{% include "trick/carousel.html.twig" %}
								{% endif %}
							</div>
						</div>
						<div class="row p-3 mb-2 bg-white text-dark rounded-pill">
							{{ trick.chapo }}<br/>
						</div>
						<div class="row p-3 mb-2 bg-white text-dark rounded-3">
							{{ trick.content }}
						</div>
						<br/>
						<div class="text-center">
							<button class="btn btn-info disabled">Catégorie :
								{{ trick.category.label }}
							</button>
							<button class="btn btn-info disabled">
								<i class="fa-solid fa-user"></i>
								Auteur :
								{{ trick.user.firstName }}
								{{ trick.user.lastName }}
							</button>
							<button class="btn btn-info disabled">
								<i class="fa-solid fa-calendar-days"></i>
								Crée le
								{{ trick.createdAt|date('d/m/Y') }}
							</button>
							{% if trick.createdAt != trick.updatedAt %}
								<button class="btn btn-info disabled">
									<i class="fa-solid fa-calendar-days"></i>
									Modifié le :
									{{ trick.updatedAt|date('d/m/Y') }}
								</button>
							{% endif %}
							<button class="btn btn-info disabled">
								<i class="fa-solid fa-image"></i>
								{# Photo ({{ pictures|length }}) #}
							</button>
							<button class="btn btn-info disabled">
								<i class="fa-solid fa-video"></i>
								{# Vidéo ({{ videos|length }}) #}
							</button>
						</div>
						<hr>
						<div>
							{% if app.user %}
								{% include "comment/add_comment.html.twig" %}
							{% else %}
								<p>Vous devez être connecté pour pouvoir poster un commentaire.</p>
							{% endif %}
							<br/>
						</div>
						<hr>
						<div class="example-wrapper">
							<h4>
								<i class="fa-solid fa-comments"></i>
								Liste des commentaires !
							</h4>
							<div id="listComment" name="listComment" class="row justify-content-evenly">
								{% if trick.comments.count is same as(0) %}
									<p>Pas de commentaire disponible</p>
								{% else %}
									{% include "comment/index.html.twig" %}
								{% endif %}
							</div>
							<div id="commentplus" name="commentplus">
								{% if numberCommentByPage < commentsCount %}
									<div class="text-center">
										<button name="showMoreComments" id="showMoreComments" class="btn btn-primary" type="button" data-trick="{{ trick.id }}" data-index="{{ numberCommentByPage }}" data-commentsbypage="{{ numberCommentByPage }}" data-nbcomments="{{ commentsCount }}" data-route="{{ path('show_more_trick' , {'index' : numberCommentByPage} ) }}">
											<i class="fa-solid fa-circle-plus"></i>Voir plus ...
										</button>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	{% endblock %}

	{% block javascripts %}
		{{ parent() }}
		{{ encore_entry_script_tags('modal') }}
	{% endblock %}
