<div class="container container-fluid">
	<div class="row">
		<div class="col-lg-12">
			{{ form_start(formPassword, { attr: {'action': '/profile/changePassword', 'accept-charset' : 'utf-8' }}) }}
			<div class="form-group">
				{{ form_row(formPassword.oldPassword) }}
				<br/>
				<i>Nouveau mot de passe</i>
				{{ form_row(formPassword.newPassword) }}
				<br/>
				{{ form_widget(formPassword.send, {'label': "Changer le mot de passe", 'attr' : { 'class': 'btn btn-primary' }}) }}
			</div>
			{{ form_rest(formPassword) }}
			{{ form_end(formPassword) }}
		</div>
	</div>
</div>
